In [2]:
#pip install sqlalchemy

Defaulting to user installation because normal site-packages is not writeable
Collecting sqlalchemy
  Downloading SQLAlchemy-1.4.39-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 2.0 MB/s eta 0:00:00[36m0:00:01[36m0:00:01:01
Collecting greenlet!=0.4.17
  Downloading greenlet-1.1.2-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (156 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 156.6/156.6 kB 2.1 MB/s eta 0:00:00[36m0:00:01m eta 0:00:01
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-1.1.2 sqlalchemy-1.4.39
WARNING: There was an error checking the latest version of pip.
Note: you may need to restart the kernel to use updated packages.

In [1]:
# -*- coding: utf-8 -*-
"""
Created on Mon Feb 22 22:06:25 2021

@author: pablo
"""
from bs4 import BeautifulSoup
import requests
from sqlalchemy import create_engine
import pandas as pd


url = 'https://argentina.as.com/resultados/futbol/argentina/clasificacion/'
page = requests.get(url)

soup =  BeautifulSoup(page.content, 'html.parser')

#Equipos 
eq = soup.find_all('span', class_ = 'nombre-equipo')
equipos = list()
contador = 0
for i in eq:
    if contador < 13:
        equipos.append(i.text)
    else:
        break
    contador +=1
    
print (equipos)
print ('Longitud: ', len(equipos))


# Para obtener el Puntaje
pts = soup.find_all('td', class_ = 'destacado')

print ('pts devuelve: ', pts)
puntos = list()
contador = 0
for i in pts:
    if contador < 13:
        puntos.append(i.text)
    else:
        break
    contador +=1
    
print (puntos)
print ('Longitud: ', len(puntos))

dataframe = pd.DataFrame( {'Nombre' : equipos, 'Puntos': puntos}, index= list(range(1, 14)))
print (dataframe)

my_conn = create_engine("mysql+mysqlconnector://root:manager1@localhost/futbol")
print (my_conn)
dataframe.to_sql(con=my_conn, name='equipos_17_08_2021', if_exists='replace')

['At. Tucumán', 'Gimnasia La Plata', 'Argentinos Juniors', 'Racing Club', 'Godoy Cruz', 'Platense', 'Unión Santa Fe', 'Patronato', 'Huracán', 'San Lorenzo de Almagro', 'Newell´s Old Boys', 'River Plate', 'Boca Juniors']
Longitud:  13
pts devuelve:  [<td class="destacado">25</td>, <td class="destacado">21</td>, <td class="destacado">20</td>, <td class="destacado">19</td>, <td class="destacado">18</td>, <td class="destacado">18</td>, <td class="destacado">18</td>, <td class="destacado">17</td>, <td class="destacado">17</td>, <td class="destacado">16</td>, <td class="destacado">16</td>, <td class="destacado">15</td>, <td class="destacado">15</td>, <td class="destacado">14</td>, <td class="destacado">14</td>, <td class="destacado">14</td>, <td class="destacado">14</td>, <td class="destacado">13</td>, <td class="destacado">13</td>, <td class="destacado">13</td>, <td class="destacado">13</td>, <td class="destacado">12</td>, <td class="destacado">11</td>, <td class="destacado">11</td>, <td class="destacado">9</td>, <td class="destacado">9</td>, <td class="destacado">8</td>, <td class="destacado">6</td>, <td class="destacado">14</td>, <td class="destacado">13</td>, <td class="destacado">13</td>, <td class="destacado">14</td>, <td class="destacado">13</td>, <td class="destacado">10</td>, <td class="destacado">7</td>, <td class="destacado">13</td>, <td class="destacado">8</td>, <td class="destacado">8</td>, <td class="destacado">6</td>, <td class="destacado">7</td>, <td class="destacado">12</td>, <td class="destacado">6</td>, <td class="destacado">10</td>, <td class="destacado">10</td>, <td class="destacado">10</td>, <td class="destacado">8</td>, <td class="destacado">6</td>, <td class="destacado">8</td>, <td class="destacado">7</td>, <td class="destacado">9</td>, <td class="destacado">7</td>, <td class="destacado">3</td>, <td class="destacado">5</td>, <td class="destacado">6</td>, <td class="destacado">4</td>, <td class="destacado">5</td>, <td class="destacado">11</td>, <td class="destacado">8</td>, <td class="destacado">7</td>, <td class="destacado">5</td>, <td class="destacado">5</td>, <td class="destacado">8</td>, <td class="destacado">11</td>, <td class="destacado">4</td>, <td class="destacado">9</td>, <td class="destacado">8</td>, <td class="destacado">10</td>, <td class="destacado">8</td>, <td class="destacado">3</td>, <td class="destacado">8</td>, <td class="destacado">4</td>, <td class="destacado">4</td>, <td class="destacado">4</td>, <td class="destacado">5</td>, <td class="destacado">7</td>, <td class="destacado">5</td>, <td class="destacado">6</td>, <td class="destacado">3</td>, <td class="destacado">4</td>, <td class="destacado">8</td>, <td class="destacado">4</td>, <td class="destacado">3</td>, <td class="destacado">4</td>, <td class="destacado">1</td>]
['25', '21', '20', '19', '18', '18', '18', '17', '17', '16', '16', '15', '15']
Longitud:  13
                    Nombre Puntos
1              At. Tucumán     25
2        Gimnasia La Plata     21
3       Argentinos Juniors     20
4              Racing Club     19
5               Godoy Cruz     18
6                 Platense     18
7           Unión Santa Fe     18
8                Patronato     17
9                  Huracán     17
10  San Lorenzo de Almagro     16
11       Newell´s Old Boys     16
12             River Plate     15
13            Boca Juniors     15
Engine(mysql+mysqlconnector://root:***@localhost/futbol)

13